<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tabla Panel</h1>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-bottom" src="/assets/img/card1.jpg">                
                    <div class="card-body">
                        <h4 class="card-title">Tabla Sector</h4>
                        <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                        <a href="/sector/" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-bottom" src="/assets/img/card2.jpg">                
                    <div class="card-body">
                        <h4 class="card-title">Tabla Perfil Ocupacional</h4>
                        <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                        <a href="/perfil/" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-bottom" src="/assets/img/card3.jpg">                
                    <div class="card-body">
                        <h4 class="card-title">Tabla Contenidos</h4>
                        <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                        <a href="/contenido/" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>