<footer>
  <section class="bg-dark1">    
    <div class="container p-5 text-white">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase pb-3">REVALORA LABORAL</h5>
          <p>
            Sistema del catalogo nacional de perfiles ocupacionales, instrumento de gestión que permite ordenar, clasificar y referenciar la oferta de módulos de capacitación laboral elaborados por el MTPE, como entidad rectora de la capacitación laboral y formación profesional.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="/nosotros/" class="nav-link text-white">Nosotros</a></li>
            <li><a href="/catalogo/" class="nav-link text-white">Catalogo</a></li>
            <li><a href="/contacto/" class="nav-link text-white">Contactenos</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Ubícanos</h5>
          <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center bg-dark2">
    <div class="container p-2 text-white">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-youtube-play"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-linkedin"></i></a>
    </div>
  </section>
  <section class="bg-dark text-white">
    <div class="text-center p-2">
      ©2021 <i style="color:#f25141" class="fa fa-heart"></i><span> Hecho por JLCB</span>
      </div>
  </section>
</footer>