<header>
  <div class="px-3 py-3 mb-1 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <i class="fa fa-envelope"></i><span class="px-2">info@revaloralaboral.com</span>
          <span class="mx-md-2 d-inline-block"></span>
          <i class="fa fa-phone"></i><span <span class="px-2">+51 1 458-5545</span>
          <div style="float: right !important;">
            <a href="#"><span class="px-3"><i class="fa fa-facebook"></i></span></a>
            <a href="#"><span class="px-3"><i class="fa fa-instagram"></i></span></a>
            <a href="#"><span class="px-3"><i class="fa fa-twitter"></i></span></a>
            <a href="#"><span class="px-3"><i class="fa fa-youtube-play"></i></span></a>
            <a href="/panel/" class="btn btn-secondary"><i class="fa fa-home" aria-hidden="true"></i>Acceso</a>
          </div>
        </div>    
      </div>
    </div>
  </div>  
  <div class="px-3 py-2 bg-gris">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <span class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white">
          <img src="/assets/img/logo.png" alt="" width="250"/>
        </span>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/" class="nav-link text-center active"><span class="fa fa-home"></span><span class="d-none d-sm-inline d-xl-block px-1">Inicio</span></a>
          </li>
          <li>
            <a href="/nosotros/" class="nav-link text-center"><span class="fa fa-user"></span><span class="d-none d-sm-inline d-xl-block px-1">Nosotros</span></a>
          </li>
          <li>
            <a href="/catalogo/" class="nav-link text-center"><span class="fa fa-map"></span><span class="d-none d-sm-inline d-xl-block px-1">Catalogo</span></a>
          </li>
          <li>
            <a href="/contacto/" class="nav-link text-center"><span class="fa fa-envelope-o"></span><span class="d-none d-sm-inline d-xl-block px-1">Contacto</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>