<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Gestión de mantenimientos de Tablas</a>
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav p" id="side-menu">
                <li>
                    <a href="/panel/"><i class="fa fa-table fa-fw"></i> Panel</a>
                </li>   
                <li>
                    <a href="/sector/"><i class="fa fa-table fa-fw"></i> Tabla Sector</a>
                </li>                             
                <li>
                    <a href="/perfil/"><i class="fa fa-table fa-fw"></i> Tabla Perfil ocupacional</a>
                </li>                                
                <li>
                    <a href="/contenido/"><i class="fa fa-table fa-fw"></i> Tabla Contenidos</a>
                </li>   
            </ul>
            <div class="divider-10"></div>
            <div class="text-center">      
                <button type="submit" class="btn btn-primary" onclick='location.href="http://localhost:8000/"'><i class="fa fa-home" aria-hidden="true"></i> Salir</button>
            </div>
        </div>
    </div>
</nav>