<div id="page-wrapper">
  <section>
    <div id="page-title" class="page-title layout-1">
      <div class="background-overlay"></div>
      <div class="container">
        <div class="row">
          <div id="page-title-text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="reset-fontsize-xs">{{ pagtituloerror }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>   
  <section id="pageNotFound">
    <div class="container p-5 text-center">
      <h1><strong>Oops!</strong></h1>
      <h3>Error 404 - Página no encrontrada</h3>
      <h4>Lo sentimos, se ha producido un error. ¡No se ha encontrado la página que buscas!</h4>
      <div class="p-5">
      <button type="submit" class="btn btn-primary" onclick='location.href="http://localhost:8000/"'><i class="fa fa-home" aria-hidden="true"></i> Inicio</button>
      </div>
    </div>
  </section>
</div>