<div id="page-wrapper">
  <section>
    <div id="page-title" class="page-title layout-3">
      <div class="background-overlay"></div>
      <div class="container">
        <div class="row">
          <div id="page-title-text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="reset-fontsize-xs">{{ pagtitulo04 }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-5"></div>      
  <section class="container p-5">
    <div clasS="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h3>Datos de Contacto</h3>
        <p>Cualquier pregunta, comentario o sugerencia estamos listos para ayudarles inmediatamente, será un placer para nosotros despejar sus dudas o con sus comentarios mejorar cada día para brindarles el mejor servicio.</p>

        <h5>Dirección</h5>
        <p>Av. Javier Prado Este #1265, San Isidro - Lima, Perú</p>

        <h5>Correo electrónico</h5>
        <p>info@sistemacatalogo.com</p>

        <h5>Teléfono</h5>
        <p>+51 1548-4584 / +51 956-54854</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-center">
        <h3>Su mensaje ha sido enviado correctamente!.</h3>
        <h3>Gracias por comunicarse con nosotros.</h3>
        <div class="p-5">
          <a href="/" class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i> Ir al Inicio</a>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-10"></div>
  <section>
    <div class="map"></div>
  </section>
</div>